.nav-link {
    margin-left: 30px
}

ul {
    list-style-type: none;
}

#footer-links a {
    text-decoration: none;
    color: #666666;
    margin-bottom: 10px;
    font-weight: 500;

}

#footer-links p {
    margin-bottom: 20px;
    font-size: 18px;
    color: #424242;
    font-weight: 500;
}

#footer-bottom-links li a {
    text-decoration: none;
    color: #9b9b9b;
    font-size: "12px";
}

.footer-logo img{
    margin-bottom: 10px;
}

.footer-logo-p{
    font: #666666;
    font-size: 13px;
    margin-bottom: 10px;
}

.social ul {
    display: flex;
    justify-content: start;
    padding: 0%;
}
.social ul li i {
    margin-right: 30px;
    margin-top: 10px;
}

